*/__pycache__
*.pyc
data/21-22
.history
.vscode
__backup__
code/v6/__archived__
code/v3/basketball-reference.com
code/v4/experiments
code/v5/data
code/v5/dev/03_basketball_reference/demo2
code/v5/dev/03_basketball_reference/demo
Volumes/*
*.DS_Store
code/v6/*-data-*
code/v6/08-experiments
*.zip


